vscode-extension/source/out
vscode-extension/source/dist
vscode-extension/source/node_modules
vscode-extension/source/.vscode-test/
/.ca
/.obsidian
/lists
/types/**/type.json
/export
*.gen.md
*.test-results.yaml
**/.vscode/**
!.vscode/settings.json
**/.idea/**
!.idea/jsonSchemas.xml
**/.generated-bq
**/.generated
**/target/**
*.iml
/.docusaurus/.docusaurus/
/.docusaurus/node_modules/
/.docusaurus/build/
