# repo-manager
## local in-repo configuration
/.ca
## logs
/repo-manager.log*
# Ignoring directory for export data
/export
/target
# Ignoring generated markdown for entities in the repo
/lists
/lists/*
/flags
/flags/*
/ce/**/folder.yaml.md
/ce/**/folder.yaml.mdx
/ce/**/policy.yaml.md
/ce/**/policy.yaml.mdx
/ce/**/*.logic.yaml.md
/ce/**/*.logic.yaml.mdx
/ce/**/test-data*.json.md
/ce/**/test-data*.json.mdx
/frameworks/**/section.yaml.md
/frameworks/**/section.yaml.mdx
/types/**/type.json.md
/types/**/type.json.mdx
/**/*.extracts.yaml.md
/**/*.extracts.yaml.mdx
# Other generated and temporary files and folders
**/.generated
*.gen.md
*.gen.mdx
# Files imported into the repo, that can be re-imported at any time
/types/types.json
/types/**/type.json
*.test-results.yaml
/policy-stats.json
# Tools and utilities
## VSCode: Ignoring everyting except pre-configured settings.json
**/.vscode/**
!.vscode/settings.json
## IntelliJ IDEA: Ignoring everyting except schema mapping for repo entities
**/.idea/**
!.idea/jsonSchemas.xml
*.iml
## devcontainer: some devcointaner runners create temporary files - we ignore them, committing only devcontainer.json and welcome.md
/.devcontainer/**
!/.devcontainer/devcontainer.json
!/.devcontainer/welcome.md
## Obsidian
/.obsidian
## Docusaurus: Ignoring directories used to build static site
/.docusaurus/.docusaurus/
/.docusaurus/node_modules/
/.docusaurus/build/
